@red: #e74c3c;
@red-dark: #ce4537;
@yellow: #fdef9d;
@yellow-dark: #e6d98a;
@green: #595647;
@gray: #aeaeae;
@gray-92: #eaeaea;
@gray-73: #bbb;
@gray-light: #f4f4f4;
@gray-red: #fbf3f2;
@gray-dark: #4a4a4a;
@white: #fff;

@margin-default: 4px;

@body-color: @gray-light;

@text-shill: @red;
@link-color: @gray-dark;
@link-color--hover: lighten(@gray-dark, 20%);
@link-color--active: @red;
@text-color: @gray-dark;
@heading-color: @gray;

@border-color: #cbcbcb;
@border-color--red: @red-dark;
@border-color--yellow: @yellow-dark;
@border-color--gray: @gray;

@html-size-base: 10px;
@font-size: 1.4rem;
@font-size--small: 1.2rem;
@font-size--medium: 1.3rem;
@font-size--super: 4.3rem;

@font-size--h1: 2.4rem;
@font-size--h2: 2rem;
@font-size--h3: 1.9rem;
@font-size--h4: 1.8rem;
@font-size--h5: 1.7rem;
@font-size--h6: 1.5rem;

@line-height: 1.4;
@line-height--heading: 1.2;

@letter-spacing: .0028em;

@font-weight: 400;
@font-weight--heading: 500;

@font-family: "Roboto", Helvetica, Arial, sans-serif;
@font-family--heading: "Roboto Slab", Helvetica, Arial, sans-serif;
