@import "../variables.less";
@import "mixins.less";

.about{
  margin-bottom: 42px;
  #clear();

  &__inner{
    float: left;
    font-size: 0;
    width: 58.3%;
  }

  &__wrapper{
    margin-top: @margin-default;
    width: 100%;
    #clear();
  }

  &__btn{
    margin-bottom: @margin-default;
    float: right;
  }

  &__header{
    padding: 0 33px;
    margin-bottom: @margin-default;
    background-color: @white;

    #clear();

    >img{
      float: left;
      margin: 33px 50px 26px 0;
      width: 190px;
    }
  }

  &__heading{
    margin: 22px 0 22px 0;
    font-family: @font-family--heading;
    font-size: @font-size--h2;
    color: @text-color;
    line-height: @line-height;
    font-weight: @font-weight;
    text-transform: uppercase;
  }
}

.about-slider{
  margin-bottom: @margin-default;
  min-height: 201px;
  background-color: @white;
}

@media (min-width: 767px) and (max-width: 920px){
  .about{
    &__inner{
      max-width: 58%;
    }
    &__header{
      >img{
        display: none;
      }
    }
    &-slider{
      min-height: 280px;
    }
  }
}
