@import "../variables.less";
@import "mixins.less";

.about{
  margin-bottom: 42px;
  #clear();

  &__inner{
    float: left;
    margin-right: @margin-default;
    font-size: 0;
    width: 58.2%;
  }

  &__wrapper{
    margin-bottom: 2px;
    width: 100%;
    #clear();
  }

  &__btn{
    margin-top: 3px;
    padding: 6px 14px 7px 14px;
    float: right;
  }

  &__header{
    padding: 0 27px 0 37px;
    margin-bottom: @margin-default;
    background-color: @white;

    #clear();

    >img{
      float: left;
      margin: 33px 51px 26px 0;
      width: 190px;
    }
  }

  &__heading{
    margin: 21px 0 21px 0;
    font-family: @font-family--heading;
    font-size: @font-size--h2;
    color: @text-color;
    line-height: @line-height;
    font-weight: @font-weight;
    letter-spacing: @letter-spacing--small;
    text-transform: uppercase;
  }
}

.about-slider{
  position: relative;
  margin-bottom: @margin-default;
  width: 100%;
  min-height: 201px;
  background-color: @white;
  overflow: hidden;
  #clear();

  &__btns{
    position: absolute;
    content: "";
    bottom: -4px;
    left: -4px;
    z-index: 5;
    width: auto;
    height: 12px;

    >li{
      display: inline-block;

      >button{
        display: inline-block;
        margin: 0 3px;
        width: 14px;
        height: 14px;
        background: @white;
        border: 1px solid @gray-dot;
        border-radius: 100%;
        cursor: pointer;
        outline: none;

        &:hover{
          border-color: @gray-dot--hover;
        }
      }
    }

    >li.slick-active{
      >button{
        background-color: @red-dot;
        border-color: @red-dot;
      }
    }
  }

  &__next{
    display: block;
    position: absolute;
    content: "";
    bottom: 28px;
    left: 447px;
    z-index: 5;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    outline: none;

    &:before{
      position: absolute;
      content: "";
      left: 0;
      bottom: 8px;
      width: 6px;
      height: 6px;
      border-top: 1px solid @border-color--gray;
      border-right: 1px solid @border-color--gray;
      transform: rotate(45deg);
    }

    &:hover:before{
      border-color: darken(@border-color--gray, 15%);
    }
  }

  &__item{
    float: left;
    padding: 30px 35px;
    width: 410px;
    min-height: 10px;
  }

  &__heading{
    margin: 0 0 10px 0;
    font-family: @font-family--heading;
    font-size: @font-size--h3;
    line-height: @line-height--heading;
    font-weight: @font-weight;
    letter-spacing: @letter-spacing;
    color: @text-color;
    text-transform: uppercase;
  }

  &__text{
    margin: 0;
    font-family: @font-family;
    font-size: @font-size--medium;
    line-height: @line-height;
    font-weight: @font-weight;
    color: @text-color;
  }
}

@media (min-width: 767px) and (max-width: 920px){
  .about{
    &__inner{
      max-width: 58%;
    }
    &__header{
      >img{
        display: none;
      }
    }
  }
  .about-slider__next{
    left: auto;
    right: 20px;
  }
}

@media (min-width: 921px) and (max-width: 1220px){
  .about{
    &__header{
      &>img{
        display: none;
      }
    }
  }
}
