@import "../variables.less";
@import "mixins.less";

.adv{
  display: block;
  margin: 0 0 4px 0;
  padding: 15px 25px;
  background-color: @yellow;
  #round-adv();

  &:hover{
    #box-shadow();

    &:after{
      transform: translate(-4px, -4px) rotate(.0001deg);
      transition: transform .8s ease;
    }
  }

  &:not(:hover){
    #no-shadow();

    &:after{
      transform: translate(0, 0) rotate(.0001deg);
      transition: transform .8s ease;
    }
  }

  &__container{
    display: block;
    margin-bottom: 56px;
    font-size: 0;
    text-align: center;
  }
}

.adv--valuation{
  min-height: 166px;

  &:after{
    position: absolute;
    content: "";
    bottom: -5px;
    right: -5px;
    width: 81px;
    height: 90px;
    background-image: url("../img/hand-calc.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.adv--reviews{
  min-height: 104px;

  &:after{
    position: absolute;
    content: "";
    top: 20px;
    right: -5px;
    width: 99px;
    height: 82px;
    background-image: url("../img/hand-thumbup.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.adv--write{
  display: inline-block;
  margin: 0 4px 4px 0;
  padding: 15px 25px;
  width: 33%;
  min-height: 135px;
  background-color: @yellow;
  #round-adv();

  &:hover{
    #box-shadow();

    &:after{
      transform: translate(-4px, -4px) rotate(.0001deg);
      transition: transform .8s ease;
    }
  }

  &:not(:hover){
    #no-shadow();

    &:after{
      transform: translate(0, 0) rotate(.0001deg);
      transition: transform .8s ease;
    }
  }
}
.adv--contained{
  display: inline-block;
  margin: 0 4px 4px 0;
  padding: 18px 105px 15px 25px;
  width: 33%;
  min-height: 135px;
  background-color: @yellow;
  #round-info();

  &:after{
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover{
    #box-shadow();

    &:after{
      transform: translate(-4px, -4px) rotate(.0001deg);
      transition: transform .8s ease;
    }
  }

  &:not(:hover){
    #no-shadow();

    &:after{
      transform: translate(0, 0) rotate(.0001deg);
      transition: transform .8s ease;
    }
  }

  &:nth-child(3n){
    margin-right: 0;
  }
}

.adv--write{
  &:after{
    bottom: -8px;
    right: -32px;
    width: 166px;
    height: 79px;
    background-image: url("../img/hand-paplane.png");
  }
}

.adv--choose{
  &:after{
    bottom: -31px;
    right: -44px;
    width: 207px;
    height: 117px;
    background-image: url("../img/hand-keys-one.png");
  }
}

.adv--price{
  &:after{
    bottom: -21px;
    right: -17px;
    width: 132px;
    height: 97px;
    background-image: url("../img/hand-money-take.png");
  }
}
@media (max-width: 766px){
  .adv{
    &--contained{
      margin: 0 1.2% 1.2% 0;
      padding: 5% 10% 0 5%;
      width: 48.8%;
    }

    &--valuation{
      display: none;
    }

    &--reviews{
      display: none;
    }
  }
}

@media (min-width: 767px) and (max-width: 920px){
  .adv{
    padding: 15px;

    &--contained{
      width: 32.7%;
      padding: 15px;
    }
  }
}

@media (min-width: 921px) and (max-width: 1220px){
  .adv{
    &--contained{
      width: 32.8%;
    }
  }
}
