@import "../variables.less";
@import "mixins.less";

.adv{
  display: block;
  margin: 0 0 4px 0;
  padding: 15px 25px;
  background-color: @yellow;
}

.adv--valuation{
  min-height: 166px;
}

.adv--reviews{
  min-height: 104px;
}
