@import "../variables.less";
@import "mixins.less";

.btn--big{
  padding: 12px 23px;
  font-family: @font-family--heading;
  font-size: @font-size;
  line-height: @line-height--heading;
  color: @white;
  text-transform: uppercase;
  background-color: @red;
}

.btn--med{
  padding: 8px 15px;
  font-family: @font-family--heading;
  font-size: @font-size--medium;
  line-height: @line-height--heading;
  color: @white;
  background-color: @red;
}
