@import "../variables.less";
@import "mixins.less";

.btn--big{
  padding: 12px 23px;
  font-family: @font-family--heading;
  font-size: @font-size;
  line-height: @line-height--heading;
  color: @white;
  text-transform: uppercase;
  background-color: @red;

  &:hover{
    background-color: @red-dark;
    color: @white;
  }
}

.btn--med{
  padding: 8px 15px;
  font-family: @font-family--heading;
  font-size: @font-size--medium;
  line-height: @line-height--heading;
  color: @white;
  background-color: @red;

  &:hover{
    background-color: @red-dark;
    color: @white;
  }
}

.btn--small{
  display: inline-block;
  width: 28px;
  height: 28px;
  font-size: 0;
  background-color: @red;
  vertical-align: middle;

  &:hover{
    background-color: @red-dark;
  }
}

.btn--dot{
  display: inline-block;
  margin: 0 4px;
  width: 12px;
  height: 12px;
  border: 1px solid @border-color--gray;
  border-radius: 100%;
  cursor: pointer;
}
