@import "../variables.less";
@import "mixins.less";

.calc{
  position: relative;
  #clear();
  margin: 0 auto;
  padding: 21px 28px 35px;
  width: 380px;
  border: 1px dotted @gray-cb;

  &__inner{
    padding-top: 17px;
    background-image: url("../img/bg-mortgage.png");
    background-repeat: no-repeat;
    background-position: 52px 22px;
  }

  &__wrapper{
    float: left;
    margin: 10px 0;
    width: 100%;
  }

  &__heading{
    margin: 10px 0 5px 0;
    font-family: @font-family;
    font-size: @font-size--h4;
    line-height: @line-height--heading;
    font-weight: @font-weight;
    color: @text-color;
    text-align: center;
  }

  &__text{
    display: inline-block;
    margin: .5em 0 0 0;
    #text();
    vertical-align: middle;

    &--two{
      display: inline-block;
      margin: -.5em 0 0 0;
      #text();
      vertical-align: middle;
    }

    &--center{
      display: block;
      position: relative;
      margin: 0 0 4px 0;
      z-index: 5;
      #text();
      text-align: center;
    }
  }

  &__submit-wrap{
    display: inline-block;
    margin: 0 auto;
    padding: 0 12px;
    background: @body-color;
  }

  &__submit-inner{
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100%;
    text-align: center;
  }

  &__submit{
    padding: 7px 16px;
  }

  &__esteem{
    display: block;
    float: left;
    margin: 19px 0 0 0;
    padding: 17px 0 15px 0;
    width: 100%;
    min-height: 100px;
    background-color: @yellow;
    #round-esteem();

    &:hover{
      #box-shadow();
    }

    &:not(:hover){
      #no-shadow();
    }
  }
}

@media (max-width: 766px){
  .calc{
    padding: 7% 8% 13% 8%;
    width: 100%;
    max-width: 380px;

    &__wrapper{
      margin: 1vh 0;
    }

    &__inner{
      margin-bottom: 30px;
    }

    &__text{
      display: block;
      margin: 0 0 .7em 0;
    }
  }
}
