@import "../variables.less";
@import "mixins.less";

.catalog{
  margin-top: -8px;
  margin-bottom: 36px;
  #clear();

  &__inner{
    float: left;
    width: 646px;
    padding: 25px 0;
    background-color: @white;

    &--big{
      float: left;
      width: auto;
      padding: 25px 0;
      background-color: @white;
    }
  }

  &__item{
    float: left;
    padding: 0 25px;
    height: 64px;
    border-left: 1px dotted @border-color;

    &:first-of-type{
      border-left: none;
    }

    &--l{
      float: left;
      padding: 0 40px;
      height: 100%;
      min-height: 80px;
      border-left: 1px dotted @border-color;

      &:first-of-type{
        border-left: none;
      }
    }
  }

  &__wrapper{
    float: left;
  }

  &__wrapper--r{
    float: right;
    margin-left: 25px;
  }

  &__subheader{
    margin: 0;
    font-family: @font-family--heading;
    font-size: @font-size--h4;
    font-weight: @font-weight;
    color: @text-color;
  }

  &__link{
    display: block;
    font-size: @font-size--medium;
    line-height: @line-height;
    color: @text-shill;
  }
}
@media (min-width: 767px) and (max-width: 920px){
  .catalog{
    margin-bottom: 20px;

    &__inner{
      width: 100%;
    }
    &__item{
      padding: 0 12px;
    }
  }
}

@media (min-width: 921px) and (max-width: 1220px){
  .catalog{
    margin-bottom: 20px;

    &__inner{
      padding: 20px 0;
      width: 68.6%;
    }
    &__item{
      padding: 0 2.2% 0 3.3%;
      min-height: 115px;

      &--big{
        width: 37.4%;
      }
    }
    &__wrapper{
      width: 100%;

      &--r{
        margin-left: 0;
        float: left;
      }
    }
  }
}
