@import "../variables.less";
@import "mixins.less";

.certificates{
  float: left;
  width: 241px;

  &__wrapper{
    float: left;
    padding: 18px;
    width: 100%;
    min-height: 351px;
    background-color: @white;
  }

  &__img{
    display: block;
    width: 204px;
    height: 300px;
  }

  &__btns{
    float: right;
    font-size: 0;
  }
}

@media (min-width: 767px) and (max-width: 920px){
  .certificates{
    display: none;
  }
}

@media (min-width: 921px) and (max-width: 1220px){
  .certificates{
    display: none;
  }
}
