@import "../variables.less";
@import "mixins.less";

.error-404{
  padding: 48px 0 0 56px;
  background-image: none;

  &__header{
    margin-bottom: 32px;
  }

  &__wrapper{
    padding-right: 40px;
    margin-right: 36px;
    display: inline-block;
    border-right: 1px dotted @border-color;
    vertical-align: top;
  }

  &__logo{
    display: inline-block;
    vertical-align: top;

    >img{
      width: 192px;
    }
  }

  &__heading{
    margin: -10px 0 0 0;
    font-family: @font-family--heading;
    font-size: @font-size--bighead;
    line-height: @line-height--heading;
    letter-spacing: @letter-spacing;
    font-weight: @font-weight;
    text-transform: uppercase;
  }

  &__text{
    margin: 5px 0 0 0;
    font-family: @font-family;
    font-size: @font-size--h5;
    line-height: @line-height--heading;
    font-weight: @font-weight;
  }

  &__img{
    display: block;
    margin-bottom: 27px;
    width: 606px;
    max-width: 96%;
  }

  &__menu{
    display: inline-block;
    margin: 0 68px 0 0;
    padding: 0;
    list-style: none;
  }

  &__menu-link{
    display: inline-block;
    padding: 6px 0;
    font-family: @font-family--heading;
    font-size: @font-size;
    line-height: @line-height;
    letter-spacing: @letter-spacing;
    text-transform: uppercase;

    &:hover{
      color: @dark;
    }
  }
}
@media (max-width: 766px){
  .error-404{
    padding: 10% 0 0 4%;

    &__wrapper{
      display: block;
      margin-bottom: 15px;
      padding-bottom: 10px;
      max-width: 96%;
      width: 606px;
      border-bottom: 1px dotted @border-color--gray;
      border-right: none;
    }

    &__logo{
      display: block;
      margin-bottom: 15px;
    }
  }
}

@media (min-width: 767px) and (max-width: 920px){
}

@media (min-width: 921px) and (max-width: 1220px){
}
