@import "../variables.less";
@import "mixins.less";

.estate-card{
  position: relative;
  margin-bottom: 22px;
  width: 100%;
  #clear();

  &__pics{
    float: left;
    margin-right: @margin-default;
    margin-bottom: @margin-default;
    width: 294px;
    min-height: 553px;
    background-color: @white;
  }

  &__more{
    display: block;
    padding: 8px 0;
    height: 34px;
    text-align: center;
    background-color: @yellow;
  }

  &__pics-wrap{
    display: block;
    font-size: 0;
  }

  &__img{
    display: inline-block;
    margin: 0 4px 4px 0;
    width: 145px;
    height: 100px;
    background-color: @yellow;

    &:nth-of-type(2n){
      margin-right: 0;
    }

    &--big{
      display: block;
      margin-bottom: 4px;
      width: 100%;
      height: 203px;
      background-color: @yellow;
    }
  }

  &__wrapper{
    float: left;
    margin-bottom: @margin-default;
    width: 590px;
    min-height: 553px;
  }

  &__spec{
    margin: 0 @margin-default @margin-default 0;
    padding: 13px 24px;
    width: 410px;
    min-height: 68px;
    font-size: 0;
    background-color: @white;

    &-item{
      display: inline-block;
      min-width: 94px;
      vertical-align: top;

      &--area{
        display: inline-block;
        min-width: 167px;
        vertical-align: middle;
      }

      &:last-child{
        margin: 0;
      }
    }

    &-subheading{
      margin: 0;
      font-size: @font-size--medium;
      line-height: @line-height--heading;
      color: @heading-color;
      font-weight: @font-weight;
    }

    &-text{
      margin: 0;
      font-size: @font-size--h4;
      line-height: @line-height--heading;
      color: @text-color;
      font-weight: @font-weight;

      >sup{
        font-size: @font-size--small;
      }
    }
  }

  &__sign{
    display: block;
    float: right;
    padding: 12px 20px;
    width: 176px;
    height: 68px;
    background-color: @yellow;
    #round-adv();

    &:hover{
      #box-shadow();
    }

    &:not(:hover){
      #no-shadow();
    }
  }

  &__descr{
    float: right;
    padding: 19px 22px;
    width: 292px;
    height: 481px;
    background-color: @white;
  }

  &__text{
    margin: 0 0 10px 0;
    #text();
  }

  &__phone{
    margin: 12px 0 10px 0;
    font-family: @font-family;
    font-size: @font-size--h4;
    line-height: @line-height--heading;
    color: @text-color;
    font-weight: @font-weight;
  }

  &__info{
    width: 100%;
    height: 100%;

    &-wrap{
      margin: 0 @margin-default @margin-default 0;
      padding: 15px 23px;
      width: 294px;
      height: 250px;
      background-color: @white;
    }
  }
}

.print{
  position: absolute;
  content: "";
  right: 0;
  top: -28px;
  padding-left: 25px;
  background-image: url("../img/sprite.png");
  background-position: -181px -156px;
  background-repeat: no-repeat;
}

@media (max-width: 766px){
  .estate-card{
    &__pics{
      width: 100%;
      min-height: auto;
    }

    &__wrapper{
      width: 100%;
    }

    &__img{
      margin: 0 1.2% 1.2% 0;
      width: 32.5%;
      height: auto;

      &:nth-of-type(2n){
        margin-right: 1.2%;
      }

      &:nth-of-type(3n){
        margin-right: 0;
      }

      &--big{
        margin-bottom: 1.2%;
        width: 100%;
        height: auto;
      }
    }

    &__sign{
      float: none;
      margin: 0 0 1.2% 0;
      width: 100%;
    }

    &__spec{
      margin: 0 0 1.2% 0;
      padding: 5% 6%;
      width: 100%;
      min-height: 68px;

      &-item{
        min-width: 20%;
        margin-right: 5%;
        margin-bottom: 5%;
        vertical-align: top;

        &--area{
          min-width: 40%;
          margin-bottom: 5%;
        }
      }

      &-text{
        font-size: @font-size--medium;
      }

      &-subheading{
        margin-bottom: 6px;
        font-size: 11px;
      }
    }

    &__descr{
      float: none;
      margin-bottom: 1.2%;
      padding: 5% 6%;
      width: 100%;
      height: auto;
    }

    &__info{
      &-wrap{
        margin: 0 0 1.2% 0;
        padding: 5% 6%;
        width: 100%;
        min-height: 0;
      }
    }
  }

  .print{
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 920px){
  .estate-card{
    &__pics{
      width: 100%;
      min-height: auto;
    }

    &__wrapper{
      width: 100%;
    }

    &__img{
      margin: 0 .7% .7% 0;
      width: 32.8%;
      height: auto;

      &:nth-of-type(2n){
        margin-right: .7%;
      }

      &:nth-of-type(3n){
        margin-right: 0;
      }

      &--big{
        margin-bottom: .7%;
        width: 100%;
        height: auto;
      }
    }

    &__sign{
      width: 30%;
    }

    &__spec{
      margin: 0 .7% .7% 0;
      width: 69.3%;

      &-item{
        min-width: 20%;

        &--area{
          min-width: 40%;
        }
      }

      &-text{
        font-size: @font-size--medium;
      }

      &-subheading{
        margin-bottom: 6px;
        font-size: 11px;
      }
    }

    &__descr{
      float: none;
      margin-bottom: .7%;
      padding: 15px 18px;
      width: 100%;
      height: auto;
    }

    &__info{
      &-wrap{
        margin: 0 0 .5% 0;
        padding: 15px 18px;
        width: 100%;
        min-height: 0;
      }
    }
  }

  .print{
    display: none;
  }
}

@media (min-width: 921px) and (max-width: 1220px){
  .estate-card{
    &__pics{
      width: 100%;
      min-height: auto;
    }

    &__wrapper{
      width: 100%;
    }

    &__img{
      margin: 0 .7% .7% 0;
      width: 32.8%;
      height: auto;

      &:nth-of-type(2n){
        margin-right: .7%;
      }

      &:nth-of-type(3n){
        margin-right: 0;
      }

      &--big{
        margin-bottom: .7%;
        width: 100%;
        height: auto;
      }
    }

    &__sign{
      width: 30%;
    }

    &__spec{
      margin: 0 .7% .7% 0;
      width: 69.3%;

      &-item{
        min-width: 20%;

        &--area{
          min-width: 40%;
        }
      }

      &-text{
        font-size: @font-size--medium;
      }

      &-subheading{
        margin-bottom: 6px;
        font-size: 11px;
      }
    }

    &__descr{
      float: none;
      margin-bottom: .7%;
      padding: 15px 18px;
      width: 100%;
      height: auto;
    }

    &__info{
      &-wrap{
        margin: 0 0 .5% 0;
        padding: 15px 18px;
        width: 100%;
        min-height: 0;
      }
    }
  }

  .print{
    display: none;
  }
}
