@import "../variables.less";
@import "mixins.less";

input:invalid~.valid-err{
  &:after{
    opacity: 1;
    transition: opacity .3s ease;
  }
}

input~.valid-err{
  float: left;
  display: block;
  padding: .5em 0;

  &:after{
    display: block;
    position: absolute;
    top: -1em;
    left: 97%;
    content: attr(title);
    padding: .5em;
    width: auto;
    min-width: 40%;
    font-size: @font-size--small;
    color: @red;
    background-color: @yellow;
    opacity: 0;
    transition: opacity .3s ease;
  }
}

.filter{
  margin-bottom: 25px;
  padding: 11px 0;
  font-size: 0;
  border-top: 1px dotted @border-color;
  border-bottom: 1px dotted @border-color;
  #clear();

  &--catalog{
    margin-top: -17px;
    margin-bottom: 24px;
    padding: 11px 0;
    font-size: 0;
    border-top: 1px dotted @border-color;
    border-bottom: 1px dotted @border-color;
    #clear();
  }

  &__btn{
    float: right;
    display: inline-block;
    padding-left: 29px;
    border: none;
    vertical-align: middle;
    background-image: url("../img/icon-search.png");
    background-repeat: no-repeat;
    background-position: 11px center;
  }

  &__text{
    display: inline-block;
    margin: 0 18px 0 0;
    padding: 0;
    font-family: @font-family--heading;
    font-size: @font-size--medium;
    line-height: @line-height;
    font-weight: @font-weight;
    color: @text-color;
    vertical-align: middle;

    &--no-ff{
      display: inline-block;
      margin: 0 20px 0 0;
      padding: 0;
      font-size: @font-size--medium;
      line-height: @line-height;
      font-weight: @font-weight--heading;
      color: @text-color;
      vertical-align: middle;
    }

    &--small{
      margin-right: 6px;
    }

    &--big{
      font-size: @font-size--h6;
    }
  }

  &__container{
    position: relative;
    display: inline-block;
    padding: 0;
    width: 143px;
    list-style: none;
    vertical-align: middle;

    >li{
      width: 100%;
      list-style: none;
      cursor: pointer;
    }

    &--big{
      position: relative;
      display: inline-block;
      padding: 0;
      width: 175px;
      list-style: none;
      vertical-align: middle;

      >li{
        width: 100%;
        list-style: none;
        cursor: pointer;
      }
    }

    &--middish{
      position: relative;
      display: inline-block;
      padding: 0;
      width: 154px;
      list-style: none;
      vertical-align: middle;

      >li{
        width: 100%;
        list-style: none;
        cursor: pointer;
      }
    }

    &--medium{
      position: relative;
      display: inline-block;
      padding: 0;
      width: 134px;
      list-style: none;
      vertical-align: middle;

      >li{
        width: 100%;
        list-style: none;
        cursor: pointer;
      }
    }

    &--smallish{
      position: relative;
      display: inline-block;
      padding: 0;
      width: 85px;
      list-style: none;
      vertical-align: middle;

      >li{
        width: 100%;
        list-style: none;
        cursor: pointer;
      }
    }

    &--small{
      position: relative;
      display: inline-block;
      padding: 0;
      width: 75px;
      list-style: none;
      vertical-align: middle;

      >li{
        width: 100%;
        list-style: none;
        cursor: pointer;
      }
    }
  }

  &__dropdown{
    display: none;
    position: absolute;
    margin: 0;
    padding: 0 9px;
    z-index: 20;
    min-width: 100%;
    font-family: @font-family;
    font-size: @font-size--medium;
    line-height: @line-height--heading;
    color: @red-light;
    background-color: @red;
    cursor: pointer;

    &--right{
      right: 0;
    }

    &-control{
      position: relative;
      display: block;
      padding: 7px 9px;
      width: 100%;
      font-family: @font-family;
      font-size: @font-size--medium;
      line-height: @line-height--heading;
      font-weight: @font-weight;
      color: @white;
      background-color: @red;

      &:after{
        position: absolute;
        content: "";
        top: 10px;
        right: 14px;
        width: 7px;
        height: 7px;
        border-right: 1px solid @white;
        border-top: 1px solid @white;
        transform: rotate(135deg);
      }
    }

    &--type{
      margin: 0 @margin-default 0 0;
    }

    &--rooms{
      margin: 0 20px 0 0;
    }

    &--area{
      margin: 0 20px 0 0;
    }

    &--calc{
      float: right;
      margin: 0 4px 0 0;
    }

    &--no-js:hover{
      >li>.filter__dropdown{
        display: block;
        #box-shadow();
      }
      >li>.filter__dropdown-control:after{
        transform: rotate(-45deg) translateX(-4px) translateY(4px);
        transition: transform .4s ease;
      }
    }

    &--no-js:not(:hover){
      #no-shadow();
      >li>.filter__dropdown-control:after{
        transform: rotate(135deg);
        transition: transform .4s ease;
      }
    }
  }

  &__check{
    display: none;
  }

  &__check[type="checkbox"]+span:before{
    position: absolute;
    content: "";
    top: 11px;
    left: 1px;
    width: 10px;
    height: 10px;
    background-color: @red-dark;
  }

  &__check[type="radio"]+span:before{
    position: absolute;
    content: "";
    top: 11px;
    left: 1px;
    width: 10px;
    height: 10px;
    background-color: @red-dark;
  }

  &__check[type="checkbox"]:checked+span:after{
    position: absolute;
    content: "";
    top: 9px;
    left: 1px;
    z-index: 10;
    width: 12px;
    height: 10px;
    background-image: url("../img/sprite.png");
    background-position: -245px -216px;
  }

  &__check[type="radio"]:checked+span:after{
    position: absolute;
    content: "";
    top: 9px;
    left: 1px;
    z-index: 10;
    width: 12px;
    height: 10px;
    background-image: url("../img/sprite.png");
    background-position: -245px -216px;
  }

  &__item{
    list-style: none;
    border-top: 1px solid @red-dark;

    &>label{
      position: relative;
      display: block;
      padding: 8px 0 8px 0;
      cursor: pointer;

      &>span{
        display: block;
        padding-left: 20px;
      }
    }

    &>label:hover{
      color: @white;
    }
  }

  &__input{
    display: inline-block;
    margin: 0 @margin-default 0 0;
    padding: 5.4px 8px;
    width: 77px;
    font-family: @font-family;
    font-size: @font-size--medium;
    line-height: @line-height;
    color: @text-color;
    background-color: @white;
    border: none;
    vertical-align: middle;

    &--no-bg{
      display: inline-block;
      margin: 0 @margin-default 0 0;
      padding: 5.4px 8px;
      width: 100%;
      font-family: @font-family;
      font-size: @font-size--medium;
      line-height: @line-height;
      color: @text-color;
      background-color: @white;
      border: 1px solid @pink-dark;
      vertical-align: middle;

      &:hover{
        border: 1px solid @red;
      }

      &__input::-moz-placeholder{
        color: @heading-color;
      }
      &__input::-webkit-placeholder{
        color: @heading-color;
      }
      &__input::-ms-placeholder{
        color: @heading-color;
      }
    }

    &--100{
      display: inline-block;
      margin: 0 @margin-default 0 0;
      padding: 5.4px 8px;
      width: 100%;
      font-family: @font-family;
      font-size: @font-size--medium;
      line-height: @line-height;
      color: @text-color;
      background-color: @white;
      border: none;
      vertical-align: middle;

      &__input::-moz-placeholder{
        color: @heading-color;
      }
      &__input::-webkit-placeholder{
        color: @heading-color;
      }
      &__input::-ms-placeholder{
        color: @heading-color;
      }
    }

    &--calc{
      float: right;
    }

    &--date{
      background-image: url("../img/icon-date.png");
      background-position: 134px center;
      background-repeat: no-repeat;
    }

    &--nano{
      display: inline-block;
      margin: 0 @margin-default 0 0;
      padding: 5.4px 8px;
      width: 57px;
      font-family: @font-family;
      font-size: @font-size--medium;
      line-height: @line-height;
      color: @text-color;
      background-color: @white;
      border: none;
      vertical-align: middle;

      &__input::-moz-placeholder{
        color: @heading-color;
      }
      &__input::-webkit-placeholder{
        color: @heading-color;
      }
      &__input::-ms-placeholder{
        color: @heading-color;
      }
    }

    &--bigger{
      display: inline-block;
      margin: 0 @margin-default 0 0;
      padding: 6px 8px;
      width: 92px;
      font-family: @font-family;
      font-size: @font-size--medium;
      line-height: @line-height;
      color: @text-color;
      background-color: @white;
      border: none;
      vertical-align: middle;

      &__input::-moz-placeholder{
        color: @heading-color;
      }
      &__input::-webkit-placeholder{
        color: @heading-color;
      }
      &__input::-ms-placeholder{
        color: @heading-color;
      }
    }

    &--big{
      display: inline-block;
      margin: 0 @margin-default 0 0;
      padding: 6px 8px;
      width: 155px;
      font-family: @font-family;
      font-size: @font-size--medium;
      line-height: @line-height;
      color: @text-color;
      background-color: @white;
      border: none;
      vertical-align: middle;

      &__input::-moz-placeholder{
        color: @heading-color;
      }
      &__input::-webkit-placeholder{
        color: @heading-color;
      }
      &__input::-ms-placeholder{
        color: @heading-color;
      }
    }

    &--super{
      display: inline-block;
      margin: 0 @margin-default 0 0;
      padding: 5.4px 8px;
      width: 195px;
      font-family: @font-family;
      font-size: @font-size--medium;
      line-height: @line-height;
      color: @text-color;
      background-color: @white;
      border: none;
      vertical-align: middle;

      &__input::-moz-placeholder{
        color: @heading-color;
      }
      &__input::-webkit-placeholder{
        color: @heading-color;
      }
      &__input::-ms-placeholder{
        color: @heading-color;
      }
    }
  }
  &__input::-moz-placeholder{
    color: @heading-color;
  }
  &__input::-webkit-placeholder{
    color: @heading-color;
  }
  &__input::-ms-placeholder{
    color: @heading-color;
  }
}

@media (max-width: 766px){
  input:invalid~.valid-err{
    height: 2.5em;
    padding: .5em 0;
    transition: height .3s ease, padding .3s ease;
  }

  input:valid~.valid-err{
    height: 0;
    padding: 0;
    transition: height .3s ease, padding .3s ease;
  }

  input~.valid-err{
    float: left;
    display: block;
    width: 100%;
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: height .3s ease, padding .3s ease;

    &:after{
      display: block;
      position: static;
      top: auto;
      left: auto;
      content: attr(title);
      padding: .5em;
      width: auto;
      font-size: @font-size--small;
      color: @red;
      background-color: @yellow;
      opacity: 1;
    }
  }

  .filter{
    margin-bottom: 28px;

    &__container{
      width: 44.8%;

      &--bigger{
        width: 100%;
      }

      &--big{
        width: 100%;
      }

      &--middish{
        width: 100%;
      }

      &--medium{
        width: 100%;
      }

      &--smallish{
        width: 44%;
      }

      &--small{
        width: 48%;
      }
    }

    &__input{
      margin: 0 1.2% 0 0;
      width: 26.8%;
      font-size: @font-size--small;

      &--calc{
        float: none;
      }

      &--super{
        width: 100%;
        font-size: @font-size--small;
      }

      &--bigger{
        width: 100%;
        font-size: @font-size--small;
      }

      &--big{
        margin: 0;
        width: 100%;
      }

      &--nano{
        margin: 0 1.2% 0 0;
        width: 21%;
        font-size: @font-size--small;
      }

      &--date{
        background-position: right center;
      }
    }

    &__text{
      vertical-align: baseline;
    }

    &__text--no-ff{
      margin: 0 9% 0 0;
    }

    &__text--big{
      margin-bottom: 15px;
      margin-right: 3%;
      vertical-align: top;
    }

    &__text--small{
      margin-right: 2%;
    }

    &__text--price{
      margin: 0 1.2% 0 0;
    }

    &__text--rouble{
      margin-top: 9px;
      margin-right: 19px;
    }

    &__btn{
      float: none;
      width: 26.8%;
      text-align: center;
    }
    &__dropdown{
      &-control{
        font-size: @font-size--small;
      }

      &--calc{
        float: none;
        margin: 0 1.2% 0 0;
      }

      &--rooms{
        margin: 0;
      }

      &--area{
        margin: 0 19.2% 8px 0;
      }

      &--type{
        margin: 0 1.2% 0 0;
        width: 34%;
      }
    }
  }
}

@media (min-width: 767px) and (max-width: 920px){
  .filter{
    margin-bottom: 20px;

    &__container{
      width: 26.8%;

      &--big{
        width: 100%;
      }

      &--medium{
        width: 100%;
      }

      &--smallish{
        width: 41%;
      }
    }
    &__input{
      margin-top: 9px;
      width: 26.8%;
      font-size: @font-size--small;

      &--super{
        width: 100%;
        font-size: @font-size--small;
      }

      &--bigger{
        font-size: @font-size--small;
      }

      &--nano{
        width: 21%;
        font-size: @font-size--small;
      }
    }
    &__text--price{
      margin-top: 9px;
      margin-right: 17px;
    }
    &__text--rouble{
      margin-top: 9px;
      margin-right: 19px;
    }
    &__btn{
      float: none;
      margin-top: 9px;
      width: 26.8%;
      text-align: center;
    }
    &__dropdown{
      &-control{
        font-size: @font-size--small;
      }

      &--area{
        margin-right: 0;
      }
    }
  }
}

@media (min-width: 921px) and (max-width: 1220px){
  .filter{
    margin-bottom: 20px;

    &__container{
      width: 28%;

      &--medium{
        width: 100%;
      }

      &--big{
        width: 100%;
      }

      &--smallish{
        width: 41%;
      }
    }
    &__input{
      margin-top: 9px;
      width: 28%;
    }
    &__text--price{
      margin-top: 9px;
      margin-right: 16px;
    }
    &__text--rouble{
      margin-top: 9px;
      margin-right: 19px;
    }
    &__btn{
      float: none;
      margin-top: 9px;
      width: 28%;
      text-align: center;
    }
    &__dropdown{
      &--area{
        margin-right: 0;
      }
    }
  }
}
