@import "../variables.less";
@import "mixins.less";

.info__wrapper{
  float: right;
  margin-top: 3.7rem;
  width: 41.4%;

  #clear();
}

.info{
  display: block;
  margin-bottom: @margin-default;
  padding: 1.8rem 24px;
  width: 240px;
  min-height: 15rem;
  background-color: @white;

  &__heading{
    margin: 0;
    font-family: @font-family--heading;
    font-size: @font-size--h3;
    line-height: @line-height--heading;
    font-weight: @font-weight;
    color: @text-color;
    text-transform: uppercase;
  }
}

.info--r{
  display: block;
  float: right;
  margin-bottom: @margin-default;
  padding: 1.8rem 24px;
  width: 240px;
  height: 304px;
  background-color: @white;
}

.info--r2{
  display: block;
  float: right;
  margin-bottom: @margin-default;
  padding: 1.8rem 24px;
  width: 240px;
  height: 15rem;
  background-color: @white;
}
