@import "../variables.less";
@import "mixins.less";

.info__wrapper{
  float: right;
  margin-top: 39px;
  width: 41.4%;

  #clear();
}

.info{
  display: block;
  margin-bottom: @margin-default;
  padding: 15px 24px;
  width: 240px;
  min-height: 150px;
  background-color: @yellow;
  #round-info();

  &:hover{
    #box-shadow();
  }

  &:not(:hover){
    #no-shadow();
  }
}

.info--r{
  display: block;
  float: right;
  margin-bottom: @margin-default;
  padding: 15px 24px;
  width: 240px;
  min-height: 304px;
  background-color: @yellow;

  #round-info--r();

  &:hover{
    #box-shadow();
  }

  &:not(:hover){
    #no-shadow();
  }
}

.info--r2{
  display: block;
  float: right;
  margin-bottom: @margin-default;
  padding: 15px 24px;
  width: 240px;
  min-height: 150px;
  background-color: @yellow;
  #round-info--r2();

  &:hover{
    #box-shadow();
  }

  &:not(:hover){
    #no-shadow();
  }
}
