@import "../variables.less";

#clear(){
  &:before,
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

#box-shadow(){
  box-shadow: 0 1px 7px rgba(0, 0, 0, .1);
  transition: box-shadow .3s ease;
}

#no-shadow(){
  box-shadow: none;
  transition: box-shadow .3s ease;
}

#ls(){
  letter-spacing: .0028em;
}

#round(){
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    content: "";
    bottom: -130px;
    left: 30%;
    width: 220px;
    height: 220px;
    background-color: @yellow-light;
    border-radius: 100%;
  }
  &:hover:before{
    transform: scale(1.2);
    transition: transform .8s ease;
  }
  &:not(:hover):before{
    transform: scale(1);
    transition: transform .8s ease;
  }
}

#round-slider(){
  &:before{
    position: absolute;
    content: "";
    bottom: -35px;
    left: 60%;
    width: 390px;
    height: 390px;
    background-color: @yellow-light;
    border-radius: 100%;
    z-index: -1;
  }
  &:hover:before{
    transform: scale(1.2);
    transition: transform .8s ease;
  }
  &:not(:hover):before{
    transform: scale(1);
    transition: transform 1.2s ease;
  }
}

#round-adv(){
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    content: "";
    bottom: -30px;
    left: 40%;
    width: 170px;
    height: 170px;
    background-color: @yellow-light;
    border-radius: 100%;
  }
  &:hover:before{
    transform: scale(1.2);
    transition: transform .8s ease;
  }
  &:not(:hover):before{
    transform: scale(1);
    transition: transform .8s ease;
  }
}

#round-link(){
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    content: "";
    bottom: -110px;
    left: -25%;
    width: 170px;
    height: 170px;
    background-color: @yellow-light;
    border-radius: 100%;
  }
  &:hover:before{
    transform: scale(1.2);
    transition: transform .8s ease;
  }
  &:not(:hover):before{
    transform: scale(1);
    transition: transform .8s ease;
  }
}

//-info -60px 180px 38%
#round-info(){
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    content: "";
    bottom: -60px;
    left: 34%;
    width: 195px;
    height: 195px;
    background-color: @yellow-light;
    border-radius: 100%;
  }
  &:hover:before{
    transform: scale(1.2);
    transition: transform .8s ease;
  }
  &:not(:hover):before{
    transform: scale(1);
    transition: transform .8s ease;
  }
}

//-info--r 20% -20px
#round-info--r(){
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    content: "";
    bottom: -10px;
    left: 20%;
    width: 230px;
    height: 230px;
    background-color: @yellow-light;
    border-radius: 100%;
  }
  &:hover:before{
    transform: scale(1.2);
    transition: transform .8s ease;
  }
  &:not(:hover):before{
    transform: scale(1);
    transition: transform .8s ease;
  }
}

//-info--r2 25% -70px 200px
#round-info--r2(){
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    content: "";
    bottom: -70px;
    left: 25%;
    width: 200px;
    height: 200px;
    background-color: @yellow-light;
    border-radius: 100%;
  }
  &:hover:before{
    transform: scale(1.2);
    transition: transform .8s ease;
  }
  &:not(:hover):before{
    transform: scale(1);
    transition: transform .8s ease;
  }
}
