@import "../variables.less";

#clear(){
  &:before,
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

#box-shadow(){
  box-shadow: 0 1px 7px rgba(0, 0, 0, .1);
  transition: box-shadow .3s ease;
}

#no-shadow(){
  box-shadow: none;
  transition: box-shadow .3s ease;
}

#ls(){
  letter-spacing: .0028em;
}

#round(){
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    content: "";
    bottom: -130px;
    left: 30%;
    width: 220px;
    height: 220px;
    background-color: @yellow-light;
    border-radius: 100%;
  }
  &:after{
    position: absolute;
    content: "";
    z-index: 2;
    bottom: -27px;
    left: 171px;
    width: 0;
    height: 0;
    background-color: @red;
    border-radius: 100%;
  }
  &:hover:after{
    bottom: -130px;
    left: 30%;
    width: 221px;
    height: 221px;
    transition: all .8s ease;
  }
  &:not(:hover):after{
    bottom: -27px;
    left: 171px;
    width: 0;
    height: 0;
    transition: all .8s ease;
  }
}

//adv 171px 40% -30px
#round-adv(){
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    content: "";
    bottom: -30px;
    left: 40%;
    width: 170px;
    height: 170px;
    background-color: @yellow-light;
    border-radius: 100%;
  }
  &:after{
    position: absolute;
    content: "";
    z-index: 2;
    bottom: -27px;
    left: 178px;
    width: 0;
    height: 0;
    background-color: @red;
    border-radius: 100%;
  }
  &:hover:after{
    bottom: -30px;
    left: 40%;
    width: 171px;
    height: 171px;
    transition: all .8s ease;
  }
  &:not(:hover):after{
    bottom: 48px;
    left: 178px;
    width: 0;
    height: 0;
    transition: all .8s ease;
  }
}

//-info -60px 180px 38%
#round-info(){
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    content: "";
    bottom: -60px;
    left: 38%;
    width: 180px;
    height: 180px;
    background-color: @yellow-light;
    border-radius: 100%;
  }
  &:after{
    position: absolute;
    content: "";
    z-index: 2;
    bottom: 22px;
    left: 176px;
    width: 0;
    height: 0;
    background-color: @red;
    border-radius: 100%;
  }
  &:hover:after{
    bottom: -60px;
    left: 38%;
    width: 181px;
    height: 181px;
    transition: all .8s ease;
  }
  &:not(:hover):after{
    bottom: 22x;
    left: 176px;
    width: 0;
    height: 0;
    transition: all .8s ease;
  }
}

//-info--r 20% -20px
#round-info--r(){
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    content: "";
    bottom: -20px;
    left: 20%;
    width: 220px;
    height: 220px;
    background-color: @yellow-light;
    border-radius: 100%;
  }
  &:after{
    position: absolute;
    content: "";
    z-index: 2;
    bottom: 84px;
    left: 156px;
    width: 0;
    height: 0;
    background-color: @red;
    border-radius: 100%;
  }
  &:hover:after{
    bottom: -20px;
    left: 20%;
    width: 221px;
    height: 221px;
    transition: all .8s ease;
  }
  &:not(:hover):after{
    bottom: 84px;
    left: 156px;
    width: 0;
    height: 0;
    transition: all .8s ease;
  }
}

//-info--r2 25% -70px 200px
#round-info--r2(){
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    content: "";
    bottom: -70px;
    left: 25%;
    width: 200px;
    height: 200px;
    background-color: @yellow-light;
    border-radius: 100%;
  }
  &:after{
    position: absolute;
    content: "";
    z-index: 2;
    bottom: 22px;
    left: 161px;
    width: 0;
    height: 0;
    background-color: @red;
    border-radius: 100%;
  }
  &:hover:after{
    bottom: -70px;
    left: 25%;
    width: 201px;
    height: 201px;
    transition: all .8s ease;
  }
  &:not(:hover):after{
    bottom: 22px;
    left: 161px;
    width: 0;
    height: 0;
    transition: all .8s ease;
  }
}
