@import "../variables.less";
@import "mixins.less";

.navigation{
  width: 100%;
  border-top: 1px dotted @border-color;
  border-bottom: 1px dotted @border-color;
  #clear();

  &__container{
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;

    &>.navigation__item:first-child>.navigation__link{
      padding-left: 0;
    }
  }

  &__item{
    display: inline-block;
  }

  &__link{
    display: block;
    padding: 16px 16px;
    font-family: @font-family--heading;
    font-size: @font-size;
    color: @link-color;
    font-weight: @font-weight--heading;
    line-height: @line-height--heading;
    #ls();
    text-transform: uppercase;
  }
  &__link:hover{
    color: @link-color--hover;
  }

  &__link--active{
    color: @link-color--active;
  }
  &__link--active:hover{
    color: darken(@link-color--active, 10%);;
  }
}
