@import "../variables.less";
@import "mixins.less";

.filter-build{
  float: left;
  position: relative;
  margin-right: 34px;
  padding: 10px 0 30px;
  width: 626px;
  border-top: 1px dotted @border-color--gray;
  border-bottom: 1px dotted @border-color--gray;

  &__wrapper{
    #clear();
    margin-bottom: 40px;
  }

  &__absolute{
    position: absolute;
    bottom: -14px;
    font-size: 0;
  }

  &__submit{
    margin-right: @margin-default;
  }

  &__row{
    position: relative;
    margin-bottom: 10px;
    font-size: 0;

    &::after{
      position: absolute;
      content: "";
      left: 0;
      bottom: 24%;
      width: 100%;
      border-bottom: 1px dotted @border-color--gray;
    }
  }

  &__item{
    position: relative;
    display: inline-block;
    z-index: 5;
    vertical-align: middle;
    background-color: @body-color;

    &--left{
      padding: 0 4px 0 0;
    }

    &--center{
      padding: 0 4px 0 4px;
    }

    &--right{
      padding: 0 0 0 4px;
    }

    &--city{
      margin-right: 50px;
      z-index: 30;
    }

    &--address{
      margin-right: 51px;
      z-index: 30;
    }

    &--area{
      z-index: 30;
    }

    &--complex{
      margin-right: 43px;
      z-index: 20;
    }

    &--square{
      margin-right: 45px;
      z-index: 20;
    }

    &--price{
      z-index: 20;
    }

    &--rooms{
      margin-right: 43px;
      z-index: 10;
    }

    &--floor{
      margin-right: 43px;
      z-index: 10;
    }

    &--home-type{
      z-index: 10;
    }

    &--submit{
      margin-left: 31px;
      margin-right: 131px;
    }
  }

  &__text{
    margin: 0 0 2px 0;
    #text();
  }
}

.filter__found{
  margin: 0 0 5px 0;
  #text();
}

.best-deal{
  float: left;
  padding: 15px 25px;
  width: 228px;
  min-height: 239px;
  background-color: @yellow;
  background-image: url("../img/_source-icon/icon--phone.png");
  background-repeat: no-repeat;
  background-size: 97px;
  background-position: 130px 158px;
}

.new-build{
  margin-bottom: 20px;
  width: 100%;

  &__header{
    margin: 10px 0;
  }

  &__title{
    margin: 0;
    display: inline-block;
    font-family: @font-family;
    font-size: @font-size;
    line-height: @line-height--heading;
    color: @heading-color;
    font-weight: @font-weight;
    text-align: left;

    &--address{
      margin-left: 172px;
      width: 280px;
    }

    &--square{
      width: 90px;
    }

    &--rooms{
      width: 95px;
    }

    &--floor{
      width: 80px;
    }

    &--price{
      width: 157px;
    }
  }

  &__item{
    position: relative;
    display: block;
    margin-bottom: @margin-default;
    min-height: 103px;
    font-size: 0;
    background-color: @white;
  }

  &__img{
    display: inline-block;
    width: 150px;
    vertical-align: middle;
  }

  &__inner{
    position: relative;
    display: inline-block;
    font-size: @font-size--medium;
    padding: 18px 0 0 22px;
    vertical-align: top;
  }

  &__wrapper{
    display: inline-block;
    vertical-align: top;
    text-align: left;

    &--address{
      width: 280px;
    }

    &--square{
      width: 90px;
    }

    &--rooms{
      width: 95px;
    }

    &--floor{
      width: 80px;
    }

    &--price{
      padding-right: 20px;
      width: 157px;
      text-align: left;
    }
  }

  &__heading{
    margin: 0 0 2px 0;
    font-family: @font-family;
    font-size: @font-size--h6;
    line-height: @line-height--heading;
    font-weight: @font-weight;
    color: @text-color;

    &--light{
      margin: 0;
      font-family: @font-family;
      font-size: @font-size--medium;
      line-height: @line-height--heading;
      font-weight: @font-weight;
      color: @heading-color;
    }
  }

  &__subheading{
    margin: 0 0 8px 0;
    font-family: @font-family;
    font-size: @font-size--medium;
    line-height: @line-height--heading;
    font-weight: @font-weight;
    color: @heading-color;
  }

  &__old-price{
    margin: 0 0 2px 0;
    font-family: @font-family;
    font-size: @font-size--small;
    line-height: @line-height--heading;
    font-weight: @font-weight;
    color: @text-color;
    text-decoration: line-through;
  }

  &__link{
    position: absolute;
    display: inline-block;
    margin: 0;
    left: 22px;
    bottom: 8px;
  }

  &__flair{
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 7px;
    font-family: @font-family;
    font-size: @font-size--medium;
    line-height: @line-height;
    color: @white;
    font-weight: @font-weight;
    background-color: @red-light;
    background-color: @red-rgba;

    &--3d{
      position: absolute;
      right: 739px;
      bottom: 0;
      padding: 2px 7px;
      font-family: @font-family;
      font-size: @font-size--medium;
      line-height: @line-height;
      color: @text-color;
      font-weight: @font-weight;
      background-color: @yellow;
      background-color: @yellow-rgba;
    }
  }
}
