@import "../variables.less";
@import "mixins.less";

.outer{
  margin-bottom: 4px;
  padding: 13px 17px 14px 24px;
  background-color: @white;

  &--alt{
    padding-bottom: 13px;;
  }

  &__heading{
    margin: 0;
    padding: 0;
    font-family: @font-family;
    color: @text-color;
    font-size: @font-size--medium;
    line-height: @line-height--semi;
    font-weight: @font-weight--heading;
  }

  &__link{
    font-family: @font-family;
    font-size: @font-size--medium;
    line-height: @line-height--heading;
    font-weight: @font-weight--heading;
    color: @text-shill;
  }

  &__link:hover{
    color: darken(@text-shill, 10%);;
  }
}

@media (min-width: 767px) and (max-width: 920px){
  .outer{
    padding: 15px;
  }
}
