@import "../variables.less";
@import "mixins.less";

.page-header{
  margin: 34px 0 32px 0;

  &__wrapper{
    margin-bottom: 17px;
    width: 100%;
    font-size: 0;
    #clear();
  }

  &__logo{
    display: inline-block;
    vertical-align: bottom;
    max-width: 240px;
    margin-right: 77px;
    font-size: 0;
  }

  &__workinfo{
    display: inline-block;
    vertical-align: bottom;
    margin-right: 45px;
    margin-bottom: 4px;
    max-width: 235px;
    font-size: @font-size--medium;

    >span{
      font-family: @font-family;
      font-size: @font-size--h5;
      line-height: @line-height--heading;
      font-weight: @font-weight--heading;
    }
  }

  &__phone{
    display: inline-block;
    vertical-align: bottom;
    margin-right: 65px;
    margin-bottom: 4px;
    max-width: 200px;
    font-size: @font-size--medium;

    >span{
      display: block;
      font-family: @font-family;
      font-size: @font-size--medium;
      color: @gray;
    }

    &-link{
      font-family: @font-family;
      font-size: @font-size--h2;
      line-height: @line-height--heading;
      font-weight: @font-weight--heading;
      color: @link-color;
    }
  }

  &__ask-call{
    color: @text-shill;
  }

  &__guild{
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 12px;
    margin-bottom: 9px;
    font-size: 0;

    &:hover{
      >.page-header__guild-promt{
        display: block;
      }
    }

    &-promt{
      position: absolute;
      display: none;
      margin: 0;
      padding: 5px 12px;
      top: -105%;
      left: -220%;
      width: 242px;
      height: auto;
      font-size: @font-size--small;
      font-weight: @font-weight;
      color: @text-color;
      text-align: center;
      background-color: @yellow;

      &::before{
        position: absolute;
        content: "";
        top: 100%;
        left: 50%;
        width: 0;
        height: 0;
        border-top: 6px solid @yellow;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }
    }

    &--ap{
      width: 48px;
      height: 36px;
      background-image: url("../img/logo-ap.png");
      background-position: 0 0;
      background-repeat: no-repeat;
    }

    &--ac{
      width: 38px;
      height: 37px;
      background-image: url("../img/logo-ac.png");
      background-position: 0 0;
      background-repeat: no-repeat;

      &>.page-header__guild-promt{
        left: -231%;
        width: 202px;
      }
    }
  }

  &__ask{
    float: right;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 4px;
    vertical-align: bottom;
  }
}
