@import "../variables.less";
@import "mixins.less";

.page-footer{
  padding-bottom: 22px;
  #clear();

  &__inner{
    float: left;
    padding-top: 23px;
    max-width: 25.64%;
  }

  &__form{
    position: relative;
    float: right;
    width: 218px;
    padding-top: 23px;

    &::after{
      position: absolute;
      content: "";
      right: 8px;
      top: 32px;
      width: 11px;
      height: 11px;
      background-image: url("../img/sprite.png");
      background-position: -170px -101px;
    }
  }

  &__input{
    float: left;
    padding: 6px 12px;
    width: 188px;
    font-size: @font-size--medium;
    line-height: @line-height--heading;
    color: @text-color;
    background-color: @white;
    border: none;

    &__input::-moz-placeholder{
      color: @heading-color;
    }
    &__input::-webkit-placeholder{
      color: @heading-color;
    }
    &__input::-ms-placeholder{
      color: @heading-color;
    }
  }

  &__submit{
    float: left;
    width: 30px;
    height: 27px;
    background-color: @white;
    border: none;
  }

  &__wrapper{
    float: left;
    margin-left: 4.2735%;
    padding-top: 19px;
    width: 550px;
  }

  &__copyright{
    margin: 0 0 15px 0;
    max-width: 300px;
    font-family: @font-family;
    font-size: @font-size--medium;
    line-height: @line-height--heading;
    font-weight: @font-weight;
    color: @text-color;
    font-style: normal;
  }

  &__mail-link{
    color: @text-shill;

    &:hover{
      color: @text-shill;
      text-decoration: underline;
    }
  }

  &__rug{
    float: left;
    margin-right: .9%;
    width: 165px;

    &--center{
      margin-right: 4.9%;
    }

    &--right{
      float: left;
      width: 165px;
    }
  }

  &__link{
    display: block;
    margin-bottom: 7px;
    color: @text-shill;

    &:hover{
      color: @text-shill;
      text-decoration: underline;
    }

    &:active{
      color: @text-shill;
    }
  }
}

.report-mistake{
  position: relative;
  float: right;
  display: block;
  margin-top: 20px;
  width: 218px;
  font-size: @font-size--medium;
  color: @gray-73;

  &::before{
    display: inline-block;
    content: "";
    margin-right: 6px;
    width: 16px;
    height: 15px;
    background-image: url("../img/sprite.png");
    background-position: -150px -121px;
    vertical-align: top;
  }
}

@media (max-width: 766px){
  .page-footer{
    &__inner{
      float: none;
      padding-top: 18px;
      width: 100%;
      max-width: 100%;
    }
    &__copyright{
      max-width: none;
      width: auto;
    }
    &__wrapper{
      margin-left: 0;
      padding-top: 8px;
      width: 100%;
    }
    &__rug{
      float: left;
      width: 100%;
    }
    &__rug--center{
      float: left;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
    &__rug--right{
      float: left;
      width: auto;
    }
    &__form{
      float: left;
      padding-top: 18px;
      width: auto;

      &::after{
        top: 27px;
      }
    }
    &__input{
      width: 89%;
    }
    &__submit{
      width: 11%;
    }
  }
  .report-mistake{
    float: left;
  }
}


@media (min-width: 767px) and (max-width: 920px){
  .page-footer{
    &__inner{
      width: 19%;
    }
    &__wrapper{
      width: 46%;
    }
    &__rug--center{
      margin-right: .9%;
    }
    &__rug--right{
      float: left;
    }
  }
}

@media (min-width: 921px) and (max-width: 1220px){
  .page-footer{
    &__inner{
      width: 19.5%;
    }
    &__wrapper{
      width: 58%;
    }
    &__rug--center{
      margin-right: .9%;
    }
    &__rug--right{
      float: right;
    }
    &__form{
      width: 18%;
    }
    &__input{
      width: 81.3%;
    }
  }
  .report-mistake{
    width: 100%;
  }
}
