@import "../variables.less";
@import "mixins.less";

.slider{
  position: relative;
  margin-bottom: 34px;
  width: 100%;
  min-height: 320px;
  overflow: hidden;

  &__wrapper{
    position: relative;
  }

  &__item{
    position: absolute;
    padding: 37px 64px;
    width: 100%;
    min-height: 320px;
    background-color: @yellow;
    overflow: hidden;
    z-index: 1;
    #round-slider();

    &:after{
      position: absolute;
      content: "";
      top: 16px;
      right: -59px;
      width: 566px;
      height: 405px;
      background-image: url("../img/hand-keys.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &:hover{
      &>.slider__decor:after{
        transform: scale(1.2);
        transition: transform .8s ease;
      }

      &>.slider__decor:before{
        transform: scale(1.2);
        transition: transform .8s ease;
      }

      &:after{
        transform: translate(-5px, 5px) rotate(.0001deg);
        transition: all .8s ease;
      }

      >.slider__btn{
        background-color: @red-dark;
      }
    }
    &:not(:hover){
      &:after{
        transform: translate(0, 0) rotate(.0001deg);
        transition: all 1.2s ease;
      }
      &>.slider__decor:after{
        transform: scale(1);
        transition: transform 1.2s ease;
      }

      &>.slider__decor:before{
        transform: scale(1);
        transition: transform 1.2s ease;
      }
    }
  }

  &__decor{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:before{
      position: absolute;
      content: "";
      top: -44%;
      left: -29px;
      width: 280px;
      height: 280px;
      background-color: @yellow-light;
      border-radius: 100%;
      z-index: -1;
    }

    &:after{
      position: absolute;
      content: "";
      bottom: -48.6%;
      left: 22.6%;
      width: 232px;
      height: 232px;
      background-color: @yellow-light;
      border-radius: 100%;
      z-index: -1;
    }
  }

  &__heading{
    margin: 0;
    margin-bottom: 26px;
    max-width: 755px;
    font-family: @font-family--heading;
    font-size: @font-size--super;
    line-height: @line-height--semi;
    letter-spacing: @letter-spacing;
    font-weight: @font-weight;
    color: @text-color;
    text-transform: uppercase;
  }

  &__text{
    margin: 0;
    margin-bottom: 47px;
    max-width: 680px;
    font-family: @font-family;
    font-size: @font-size--h2;
    line-height: @line-height--heading;
    color: @text-color;
  }

  &__btn{
    position: relative;
    display: inline-block;

    &:after{
      position: absolute;
      content: "";
      top: 11px;
      right: 14px;
      width: 6px;
      height: 6px;
      transform: rotate(45deg);
      border-right: 1px solid @white;
      border-top: 1px solid @white;
    }
  }

  &__control{
    position: absolute;
    content: "";
    z-index: 100;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    min-width: 50px;
    min-height: 20px;
    background-color: @red;
  }

  &__ctrls{
    position: absolute;
    content: "";
    bottom: 20px;
    left: 40%;
    z-index: 90;
    padding: 6px 0;
    width: 20%;
    height: 25px;
    font-size: 0;
    text-align: center;
  }

  &__input-ctrl{
    display: none;
  }
}

#slider__ctrl-1:checked~.slider__ctrls>#slider__label-1>.btn--dot,
#slider__ctrl-2:checked~.slider__ctrls>#slider__label-2>.btn--dot,
#slider__ctrl-3:checked~.slider__ctrls>#slider__label-3>.btn--dot,
#slider__ctrl-4:checked~.slider__ctrls>#slider__label-4>.btn--dot,
#slider__ctrl-5:checked~.slider__ctrls>#slider__label-5>.btn--dot{
  background-color: @red-dot;
  border-color: @red-dot;
}

#slider__ctrl-1:checked~.slider__wrapper [data-slider~="slide-1"],
#slider__ctrl-2:checked~.slider__wrapper [data-slider~="slide-2"],
#slider__ctrl-3:checked~.slider__wrapper [data-slider~="slide-3"],
#slider__ctrl-4:checked~.slider__wrapper [data-slider~="slide-4"],
#slider__ctrl-5:checked~.slider__wrapper [data-slider~="slide-5"]{
  z-index: 10;
  opacity: 1;
  left: 0;
  transform: scale(1);
  transition: transform 1s ease, opacity 1s ease;
}
#slider__ctrl-1:not(:checked)~.slider__wrapper [data-slider~="slide-1"],
#slider__ctrl-2:not(:checked)~.slider__wrapper [data-slider~="slide-2"],
#slider__ctrl-3:not(:checked)~.slider__wrapper [data-slider~="slide-3"],
#slider__ctrl-4:not(:checked)~.slider__wrapper [data-slider~="slide-4"],
#slider__ctrl-5:not(:checked)~.slider__wrapper [data-slider~="slide-5"]{
  z-index: 1;
  opacity: 0;
  transform: scale(.7);
  left: -100%;
  transition: left 1s ease, transform 1s ease, opacity 1s ease;
}

@media (max-width: 766px){

  .slider{
    min-height: 150px;

    &__btn{
      padding: 4px 13px 5px 13px;

      &:after{
        display: none;
      }
    }

    &__item{
      padding: 3% 5%;
      min-height: 150px;

      &:before{
        bottom: 10%;
        width: 40%;
        height: 80%;
      }

      &:after{
        top: 10%;
        right: -59px;
        width: 74%;
        height: 100%;
        background-size: contain;
      }
    }

    &__decor{
      display: none;
    }

    &__heading{
      margin-bottom: .6em;
      max-width: 75%;
      font-size: @font-size--middish;
    }

    &__text{
      margin-bottom: .7em;
      max-width: 60%;
      font-size: 11px;
    }

    &__ctrls{
      bottom: 1%;
      right: 1%;
      left: auto;
      width: 35%;
    }
  }
}

@media (min-width: 767px) and (max-width: 920px){

  .slider{
      min-height: 210px;

    &__item{
      padding: round(40px / 1.5234) round(64px / 1.5234);
      min-height: 210px;

      &:before{
        width: 256px;
        height: 256px;
      }

      &:after{
        width: 370px;
        height: 265px;
      }
    }

    &__decor{
      &:before{
        width: round(280px / 1.5234);
        height: round(280px / 1.5234);
      }
      &:after{
        width: round(230px / 1.5234);
        height: round(230px / 1.5234);
      }
    }

    &__heading{
      margin-bottom: round(30px / 1.5234);
      max-width: round(755px / 1.5234);
      font-size: round((@font-size--super / 1.5234), 1);
    }

    &__text{
      margin-bottom: round(45px / 1.5234);
      max-width: round(685px / 1.5234);
      font-size: round((@font-size--h2 / 1.5234), 1);
    }
  }
}

@media (min-width: 921px) and (max-width: 1220px){

  .slider{
      min-height: (320px * 0.7863);

    &__item{
      padding: round(40px * 0.7863) round(64px * 0.7863);
      min-height: (320px * 0.7863);

      &:before{
        width: (390px * 0.7863);
        height: (390px * 0.7863);
      }

      &:after{
        width: (566px * 0.7863);
        height: (405px * 0.7863);
      }
    }

    &__decor{
      &:before{
        width: round(280px * 0.7863);
        height: round(280px * 0.7863);
      }
      &:after{
        width: round(230px * 0.7863);
        height: round(230px * 0.7863);
      }
    }

    &__heading{
      margin-bottom: round(30px * 0.7863);
      max-width: round(755px * 0.7863);
      font-size: round((@font-size--super * 0.7863), 1);
    }

    &__text{
      margin-bottom: round(45px * 0.7863);
      max-width: round(685px * 0.7863);
      font-size: round((@font-size--h2 * 0.7863), 1);
    }
  }
}
