@import "../variables.less";
@import "mixins.less";

.social{
  margin: 0;
  padding: 0;
  float: right;
  font-size: 0;

  &__item{
    display: inline-block;
    padding: 10px 0 10px 3px;
    list-style: none;
  }

  &__link{
    display: block;
    width: 20px;
    height: 20px;
    font-size: 0;
    background-color: @border-color;
    background-repeat: no-repeat;
    background-position: center;

    &--ok{
      width: 20px;
      height: 20px;
      background-image: url("../img/sprite.png");
      background-position: -245px 0px;

      &:hover{
        width: 20px;
        height: 20px;
        background-image: url("../img/sprite.png");
        background-position: -198px -133px;
        background-color: @ok-color;
      }
    }

    &--mailru{
      width: 20px;
      height: 20px;
      background-image: url("../img/sprite.png");
      background-position: -245px -108px;

      &:hover{
        width: 20px;
        height: 20px;
        background-image: url("../img/sprite.png");
        background-position: -245px -144px;
        background-color: @mailru-color;
      }
    }

    &--vk{
      width: 20px;
      height: 20px;
      background-image: url("../img/sprite.png");
      background-position: -245px -72px;

      &:hover{
        width: 20px;
        height: 20px;
        background-image: url("../img/sprite.png");
        background-position: -245px -36px;
        background-color: @vk-color;
      }
    }

    &--fb{
      width: 20px;
      height: 20px;
      background-image: url("../img/sprite.png");
      background-position: -245px -180px;

      &:hover{
        width: 20px;
        height: 20px;
        background-image: url("../img/sprite.png");
        background-position: 0px -242px;
        background-color: @fb-color;
      }
    }
  }
}
