@import "../variables.less";
@import "mixins.less";

.social{
  margin: 0;
  padding: 0;
  float: right;
  font-size: 0;

  &__item{
    display: inline-block;
    padding: 14px 0 14px 3px;
    list-style: none;
  }

  &__link{
    display: block;
    width: 20px;
    height: 20px;
    font-size: 0;
    background-color: @border-color;
    background-repeat: no-repeat;
    background-position: center;

    &--ok{
      background-image: url("../img/icon-ok.png");

      &:hover{
        background-color: @ok-color;
      }
    }

    &--mailru{
      background-image: url("../img/icon-mailru.png");

      &:hover{
        background-color: @mailru-color;
      }
    }

    &--vk{
      background-image: url("../img/icon-vk.png");

      &:hover{
        background-color: @vk-color;
      }
    }

    &--fb{
      background-image: url("../img/icon-fb.png");

      &:hover{
        background-color: @fb-color;
      }
    }
  }
}
