/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
/*.icon-icon--add {
  background-image: url(../../img/sprite.png);
  background-position: -217px -242px;
  width: 10px;
  height: 10px;
}*/
/*.icon-icon--close {
  background-image: url(../../img/sprite.png);
  background-position: -36px -242px;
  width: 16px;
  height: 16px;
}*/
/*.icon-icon--commerce {
  background-image: url(../../img/sprite.png);
  background-position: 0px -133px;
  width: 54px;
  height: 37px;
}*/
/*.icon-icon--doc {
  background-image: url(../../img/sprite.png);
  background-position: -133px -67px;
  width: 40px;
  height: 49px;
}*/
/*.icon-icon--exchange {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 54px;
  height: 54px;
}*/
.icon-icon--find {
  background-image: url(../../img/sprite.png);
  background-position: -190px -242px;
  width: 11px;
  height: 11px;
}
/*.icon-icon--legal {
  background-image: url(../../img/sprite.png);
  background-position: -70px 0px;
  width: 47px;
  height: 47px;
}*/
/*.icon-icon--mortgage {
  background-image: url(../../img/sprite.png);
  background-position: 0px -186px;
  width: 47px;
  height: 40px;
}*/
/*.icon-icon--pdf {
  background-image: url(../../img/sprite.png);
  background-position: -133px 0px;
  width: 41px;
  height: 51px;
}*/
/*.icon-icon--print {
  background-image: url(../../img/sprite.png);
  background-position: -68px -242px;
  width: 16px;
  height: 16px;
}*/
/*.icon-icon--privatization {
  background-image: url(../../img/sprite.png);
  background-position: 0px -70px;
  width: 46px;
  height: 47px;
}*/
/*.icon-icon--purchase {
  background-image: url(../../img/sprite.png);
  background-position: -123px -186px;
  width: 44px;
  height: 39px;
}*/
/*.icon-icon--sell {
  background-image: url(../../img/sprite.png);
  background-position: -63px -186px;
  width: 44px;
  height: 39px;
}*/
/*.icon-icon--urgent {
  background-image: url(../../img/sprite.png);
  background-position: -62px -70px;
  width: 55px;
  height: 37px;
}*/
/*.icon-icon--xls {
  background-image: url(../../img/sprite.png);
  background-position: -190px 0px;
  width: 39px;
  height: 52px;
}*/
/*.icon-icon-ac--hover {
  background-image: url(../../img/sprite.png);
  background-position: -183px -186px;
  width: 38px;
  height: 39px;
}*/
/*.icon-icon-ac {
  background-image: url(../../img/sprite.png);
  background-position: -190px -68px;
  width: 38px;
  height: 39px;
}*/
/*.icon-icon-ap--hover {
  background-image: url(../../img/sprite.png);
  background-position: -134px -133px;
  width: 48px;
  height: 36px;
}*/
/*.icon-icon-ap {
  background-image: url(../../img/sprite.png);
  background-position: -70px -133px;
  width: 48px;
  height: 36px;
}*/
/*.icon-icon-checked {
  background-image: url(../../img/sprite.png);
  background-position: -245px -216px;
  width: 12px;
  height: 10px;
}*/
.icon-icon-date {
  background-image: url(../../img/sprite.png);
  background-position: -132px -242px;
  width: 15px;
  height: 15px;
}
/*.icon-icon-error {
  background-image: url(../../img/sprite.png);
  background-position: -100px -242px;
  width: 16px;
  height: 15px;
}*/
/*.icon-icon-fb--hover {
  background-image: url(../../img/sprite.png);
  background-position: 0px -242px;
  width: 20px;
  height: 20px;
}
.icon-icon-fb {
  background-image: url(../../img/sprite.png);
  background-position: -245px -180px;
  width: 20px;
  height: 20px;
}*/
/*.icon-icon-mailru--hover {
  background-image: url(../../img/sprite.png);
  background-position: -245px -144px;
  width: 20px;
  height: 20px;
}
.icon-icon-mailru {
  background-image: url(../../img/sprite.png);
  background-position: -245px -108px;
  width: 20px;
  height: 20px;
}*/
/*.icon-icon-ok--hover {
  background-image: url(../../img/sprite.png);
  background-position: -198px -133px;
  width: 20px;
  height: 20px;
}
.icon-icon-ok {
  background-image: url(../../img/sprite.png);
  background-position: -245px 0px;
  width: 20px;
  height: 20px;
}*/
/*.icon-icon-search {
  background-image: url(../../img/sprite.png);
  background-position: -163px -242px;
  width: 11px;
  height: 11px;
}*/
/*.icon-icon-vk--hover {
  background-image: url(../../img/sprite.png);
  background-position: -245px -36px;
  width: 20px;
  height: 20px;
}
.icon-icon-vk {
  background-image: url(../../img/sprite.png);
  background-position: -245px -72px;
  width: 20px;
  height: 20px;
}*/
