/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@icon-add-name: icon--add;
@icon-add-x: 217px;
@icon-add-y: 242px;
@icon-add-offset-x: -217px;
@icon-add-offset-y: -242px;
@icon-add-width: 10px;
@icon-add-height: 10px;
@icon-add-total-width: 265px;
@icon-add-total-height: 262px;
@icon-add-image: '../../img/sprite.png';
@icon-add: 217px 242px -217px -242px 10px 10px 265px 262px '../../img/sprite.png' icon--add;
@icon-close-name: icon--close;
@icon-close-x: 36px;
@icon-close-y: 242px;
@icon-close-offset-x: -36px;
@icon-close-offset-y: -242px;
@icon-close-width: 16px;
@icon-close-height: 16px;
@icon-close-total-width: 265px;
@icon-close-total-height: 262px;
@icon-close-image: '../../img/sprite.png';
@icon-close: 36px 242px -36px -242px 16px 16px 265px 262px '../../img/sprite.png' icon--close;
@icon-commerce-name: icon--commerce;
@icon-commerce-x: 0px;
@icon-commerce-y: 133px;
@icon-commerce-offset-x: 0px;
@icon-commerce-offset-y: -133px;
@icon-commerce-width: 54px;
@icon-commerce-height: 37px;
@icon-commerce-total-width: 265px;
@icon-commerce-total-height: 262px;
@icon-commerce-image: '../../img/sprite.png';
@icon-commerce: 0px 133px 0px -133px 54px 37px 265px 262px '../../img/sprite.png' icon--commerce;
@icon-doc-name: icon--doc;
@icon-doc-x: 133px;
@icon-doc-y: 67px;
@icon-doc-offset-x: -133px;
@icon-doc-offset-y: -67px;
@icon-doc-width: 40px;
@icon-doc-height: 49px;
@icon-doc-total-width: 265px;
@icon-doc-total-height: 262px;
@icon-doc-image: '../../img/sprite.png';
@icon-doc: 133px 67px -133px -67px 40px 49px 265px 262px '../../img/sprite.png' icon--doc;
@icon-exchange-name: icon--exchange;
@icon-exchange-x: 0px;
@icon-exchange-y: 0px;
@icon-exchange-offset-x: 0px;
@icon-exchange-offset-y: 0px;
@icon-exchange-width: 54px;
@icon-exchange-height: 54px;
@icon-exchange-total-width: 265px;
@icon-exchange-total-height: 262px;
@icon-exchange-image: '../../img/sprite.png';
@icon-exchange: 0px 0px 0px 0px 54px 54px 265px 262px '../../img/sprite.png' icon--exchange;
@icon-find-name: icon--find;
@icon-find-x: 190px;
@icon-find-y: 242px;
@icon-find-offset-x: -190px;
@icon-find-offset-y: -242px;
@icon-find-width: 11px;
@icon-find-height: 11px;
@icon-find-total-width: 265px;
@icon-find-total-height: 262px;
@icon-find-image: '../../img/sprite.png';
@icon-find: 190px 242px -190px -242px 11px 11px 265px 262px '../../img/sprite.png' icon--find;
@icon-legal-name: icon--legal;
@icon-legal-x: 70px;
@icon-legal-y: 0px;
@icon-legal-offset-x: -70px;
@icon-legal-offset-y: 0px;
@icon-legal-width: 47px;
@icon-legal-height: 47px;
@icon-legal-total-width: 265px;
@icon-legal-total-height: 262px;
@icon-legal-image: '../../img/sprite.png';
@icon-legal: 70px 0px -70px 0px 47px 47px 265px 262px '../../img/sprite.png' icon--legal;
@icon-mortgage-name: icon--mortgage;
@icon-mortgage-x: 0px;
@icon-mortgage-y: 186px;
@icon-mortgage-offset-x: 0px;
@icon-mortgage-offset-y: -186px;
@icon-mortgage-width: 47px;
@icon-mortgage-height: 40px;
@icon-mortgage-total-width: 265px;
@icon-mortgage-total-height: 262px;
@icon-mortgage-image: '../../img/sprite.png';
@icon-mortgage: 0px 186px 0px -186px 47px 40px 265px 262px '../../img/sprite.png' icon--mortgage;
@icon-pdf-name: icon--pdf;
@icon-pdf-x: 133px;
@icon-pdf-y: 0px;
@icon-pdf-offset-x: -133px;
@icon-pdf-offset-y: 0px;
@icon-pdf-width: 41px;
@icon-pdf-height: 51px;
@icon-pdf-total-width: 265px;
@icon-pdf-total-height: 262px;
@icon-pdf-image: '../../img/sprite.png';
@icon-pdf: 133px 0px -133px 0px 41px 51px 265px 262px '../../img/sprite.png' icon--pdf;
@icon-print-name: icon--print;
@icon-print-x: 68px;
@icon-print-y: 242px;
@icon-print-offset-x: -68px;
@icon-print-offset-y: -242px;
@icon-print-width: 16px;
@icon-print-height: 16px;
@icon-print-total-width: 265px;
@icon-print-total-height: 262px;
@icon-print-image: '../../img/sprite.png';
@icon-print: 68px 242px -68px -242px 16px 16px 265px 262px '../../img/sprite.png' icon--print;
@icon-privatization-name: icon--privatization;
@icon-privatization-x: 0px;
@icon-privatization-y: 70px;
@icon-privatization-offset-x: 0px;
@icon-privatization-offset-y: -70px;
@icon-privatization-width: 46px;
@icon-privatization-height: 47px;
@icon-privatization-total-width: 265px;
@icon-privatization-total-height: 262px;
@icon-privatization-image: '../../img/sprite.png';
@icon-privatization: 0px 70px 0px -70px 46px 47px 265px 262px '../../img/sprite.png' icon--privatization;
@icon-purchase-name: icon--purchase;
@icon-purchase-x: 123px;
@icon-purchase-y: 186px;
@icon-purchase-offset-x: -123px;
@icon-purchase-offset-y: -186px;
@icon-purchase-width: 44px;
@icon-purchase-height: 39px;
@icon-purchase-total-width: 265px;
@icon-purchase-total-height: 262px;
@icon-purchase-image: '../../img/sprite.png';
@icon-purchase: 123px 186px -123px -186px 44px 39px 265px 262px '../../img/sprite.png' icon--purchase;
@icon-sell-name: icon--sell;
@icon-sell-x: 63px;
@icon-sell-y: 186px;
@icon-sell-offset-x: -63px;
@icon-sell-offset-y: -186px;
@icon-sell-width: 44px;
@icon-sell-height: 39px;
@icon-sell-total-width: 265px;
@icon-sell-total-height: 262px;
@icon-sell-image: '../../img/sprite.png';
@icon-sell: 63px 186px -63px -186px 44px 39px 265px 262px '../../img/sprite.png' icon--sell;
@icon-urgent-name: icon--urgent;
@icon-urgent-x: 62px;
@icon-urgent-y: 70px;
@icon-urgent-offset-x: -62px;
@icon-urgent-offset-y: -70px;
@icon-urgent-width: 55px;
@icon-urgent-height: 37px;
@icon-urgent-total-width: 265px;
@icon-urgent-total-height: 262px;
@icon-urgent-image: '../../img/sprite.png';
@icon-urgent: 62px 70px -62px -70px 55px 37px 265px 262px '../../img/sprite.png' icon--urgent;
@icon-xls-name: icon--xls;
@icon-xls-x: 190px;
@icon-xls-y: 0px;
@icon-xls-offset-x: -190px;
@icon-xls-offset-y: 0px;
@icon-xls-width: 39px;
@icon-xls-height: 52px;
@icon-xls-total-width: 265px;
@icon-xls-total-height: 262px;
@icon-xls-image: '../../img/sprite.png';
@icon-xls: 190px 0px -190px 0px 39px 52px 265px 262px '../../img/sprite.png' icon--xls;
@icon-ac-hover-name: icon-ac--hover;
@icon-ac-hover-x: 183px;
@icon-ac-hover-y: 186px;
@icon-ac-hover-offset-x: -183px;
@icon-ac-hover-offset-y: -186px;
@icon-ac-hover-width: 38px;
@icon-ac-hover-height: 39px;
@icon-ac-hover-total-width: 265px;
@icon-ac-hover-total-height: 262px;
@icon-ac-hover-image: '../../img/sprite.png';
@icon-ac-hover: 183px 186px -183px -186px 38px 39px 265px 262px '../../img/sprite.png' icon-ac--hover;
@icon-ac-name: icon-ac;
@icon-ac-x: 190px;
@icon-ac-y: 68px;
@icon-ac-offset-x: -190px;
@icon-ac-offset-y: -68px;
@icon-ac-width: 38px;
@icon-ac-height: 39px;
@icon-ac-total-width: 265px;
@icon-ac-total-height: 262px;
@icon-ac-image: '../../img/sprite.png';
@icon-ac: 190px 68px -190px -68px 38px 39px 265px 262px '../../img/sprite.png' icon-ac;
@icon-ap-hover-name: icon-ap--hover;
@icon-ap-hover-x: 134px;
@icon-ap-hover-y: 133px;
@icon-ap-hover-offset-x: -134px;
@icon-ap-hover-offset-y: -133px;
@icon-ap-hover-width: 48px;
@icon-ap-hover-height: 36px;
@icon-ap-hover-total-width: 265px;
@icon-ap-hover-total-height: 262px;
@icon-ap-hover-image: '../../img/sprite.png';
@icon-ap-hover: 134px 133px -134px -133px 48px 36px 265px 262px '../../img/sprite.png' icon-ap--hover;
@icon-ap-name: icon-ap;
@icon-ap-x: 70px;
@icon-ap-y: 133px;
@icon-ap-offset-x: -70px;
@icon-ap-offset-y: -133px;
@icon-ap-width: 48px;
@icon-ap-height: 36px;
@icon-ap-total-width: 265px;
@icon-ap-total-height: 262px;
@icon-ap-image: '../../img/sprite.png';
@icon-ap: 70px 133px -70px -133px 48px 36px 265px 262px '../../img/sprite.png' icon-ap;
@icon-checked-name: icon-checked;
@icon-checked-x: 245px;
@icon-checked-y: 216px;
@icon-checked-offset-x: -245px;
@icon-checked-offset-y: -216px;
@icon-checked-width: 12px;
@icon-checked-height: 10px;
@icon-checked-total-width: 265px;
@icon-checked-total-height: 262px;
@icon-checked-image: '../../img/sprite.png';
@icon-checked: 245px 216px -245px -216px 12px 10px 265px 262px '../../img/sprite.png' icon-checked;
@icon-date-name: icon-date;
@icon-date-x: 132px;
@icon-date-y: 242px;
@icon-date-offset-x: -132px;
@icon-date-offset-y: -242px;
@icon-date-width: 15px;
@icon-date-height: 15px;
@icon-date-total-width: 265px;
@icon-date-total-height: 262px;
@icon-date-image: '../../img/sprite.png';
@icon-date: 132px 242px -132px -242px 15px 15px 265px 262px '../../img/sprite.png' icon-date;
@icon-error-name: icon-error;
@icon-error-x: 100px;
@icon-error-y: 242px;
@icon-error-offset-x: -100px;
@icon-error-offset-y: -242px;
@icon-error-width: 16px;
@icon-error-height: 15px;
@icon-error-total-width: 265px;
@icon-error-total-height: 262px;
@icon-error-image: '../../img/sprite.png';
@icon-error: 100px 242px -100px -242px 16px 15px 265px 262px '../../img/sprite.png' icon-error;
@icon-fb-hover-name: icon-fb--hover;
@icon-fb-hover-x: 0px;
@icon-fb-hover-y: 242px;
@icon-fb-hover-offset-x: 0px;
@icon-fb-hover-offset-y: -242px;
@icon-fb-hover-width: 20px;
@icon-fb-hover-height: 20px;
@icon-fb-hover-total-width: 265px;
@icon-fb-hover-total-height: 262px;
@icon-fb-hover-image: '../../img/sprite.png';
@icon-fb-hover: 0px 242px 0px -242px 20px 20px 265px 262px '../../img/sprite.png' icon-fb--hover;
@icon-fb-name: icon-fb;
@icon-fb-x: 245px;
@icon-fb-y: 180px;
@icon-fb-offset-x: -245px;
@icon-fb-offset-y: -180px;
@icon-fb-width: 20px;
@icon-fb-height: 20px;
@icon-fb-total-width: 265px;
@icon-fb-total-height: 262px;
@icon-fb-image: '../../img/sprite.png';
@icon-fb: 245px 180px -245px -180px 20px 20px 265px 262px '../../img/sprite.png' icon-fb;
@icon-mailru-hover-name: icon-mailru--hover;
@icon-mailru-hover-x: 245px;
@icon-mailru-hover-y: 144px;
@icon-mailru-hover-offset-x: -245px;
@icon-mailru-hover-offset-y: -144px;
@icon-mailru-hover-width: 20px;
@icon-mailru-hover-height: 20px;
@icon-mailru-hover-total-width: 265px;
@icon-mailru-hover-total-height: 262px;
@icon-mailru-hover-image: '../../img/sprite.png';
@icon-mailru-hover: 245px 144px -245px -144px 20px 20px 265px 262px '../../img/sprite.png' icon-mailru--hover;
@icon-mailru-name: icon-mailru;
@icon-mailru-x: 245px;
@icon-mailru-y: 108px;
@icon-mailru-offset-x: -245px;
@icon-mailru-offset-y: -108px;
@icon-mailru-width: 20px;
@icon-mailru-height: 20px;
@icon-mailru-total-width: 265px;
@icon-mailru-total-height: 262px;
@icon-mailru-image: '../../img/sprite.png';
@icon-mailru: 245px 108px -245px -108px 20px 20px 265px 262px '../../img/sprite.png' icon-mailru;
@icon-ok-hover-name: icon-ok--hover;
@icon-ok-hover-x: 198px;
@icon-ok-hover-y: 133px;
@icon-ok-hover-offset-x: -198px;
@icon-ok-hover-offset-y: -133px;
@icon-ok-hover-width: 20px;
@icon-ok-hover-height: 20px;
@icon-ok-hover-total-width: 265px;
@icon-ok-hover-total-height: 262px;
@icon-ok-hover-image: '../../img/sprite.png';
@icon-ok-hover: 198px 133px -198px -133px 20px 20px 265px 262px '../../img/sprite.png' icon-ok--hover;
@icon-ok-name: icon-ok;
@icon-ok-x: 245px;
@icon-ok-y: 0px;
@icon-ok-offset-x: -245px;
@icon-ok-offset-y: 0px;
@icon-ok-width: 20px;
@icon-ok-height: 20px;
@icon-ok-total-width: 265px;
@icon-ok-total-height: 262px;
@icon-ok-image: '../../img/sprite.png';
@icon-ok: 245px 0px -245px 0px 20px 20px 265px 262px '../../img/sprite.png' icon-ok;
@icon-search-name: icon-search;
@icon-search-x: 163px;
@icon-search-y: 242px;
@icon-search-offset-x: -163px;
@icon-search-offset-y: -242px;
@icon-search-width: 11px;
@icon-search-height: 11px;
@icon-search-total-width: 265px;
@icon-search-total-height: 262px;
@icon-search-image: '../../img/sprite.png';
@icon-search: 163px 242px -163px -242px 11px 11px 265px 262px '../../img/sprite.png' icon-search;
@icon-vk-hover-name: icon-vk--hover;
@icon-vk-hover-x: 245px;
@icon-vk-hover-y: 36px;
@icon-vk-hover-offset-x: -245px;
@icon-vk-hover-offset-y: -36px;
@icon-vk-hover-width: 20px;
@icon-vk-hover-height: 20px;
@icon-vk-hover-total-width: 265px;
@icon-vk-hover-total-height: 262px;
@icon-vk-hover-image: '../../img/sprite.png';
@icon-vk-hover: 245px 36px -245px -36px 20px 20px 265px 262px '../../img/sprite.png' icon-vk--hover;
@icon-vk-name: icon-vk;
@icon-vk-x: 245px;
@icon-vk-y: 72px;
@icon-vk-offset-x: -245px;
@icon-vk-offset-y: -72px;
@icon-vk-width: 20px;
@icon-vk-height: 20px;
@icon-vk-total-width: 265px;
@icon-vk-total-height: 262px;
@icon-vk-image: '../../img/sprite.png';
@icon-vk: 245px 72px -245px -72px 20px 20px 265px 262px '../../img/sprite.png' icon-vk;
@spritesheet-width: 265px;
@spritesheet-height: 262px;
@spritesheet-image: '../../img/sprite.png';
@spritesheet-sprites: @icon-add @icon-close @icon-commerce @icon-doc @icon-exchange @icon-find @icon-legal @icon-mortgage @icon-pdf @icon-print @icon-privatization @icon-purchase @icon-sell @icon-urgent @icon-xls @icon-ac-hover @icon-ac @icon-ap-hover @icon-ap @icon-checked @icon-date @icon-error @icon-fb-hover @icon-fb @icon-mailru-hover @icon-mailru @icon-ok-hover @icon-ok @icon-search @icon-vk-hover @icon-vk;
@spritesheet: 265px 262px '../../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
