@import "../variables.less";
@import "mixins.less";

h1{
  display: block;
  margin: 0;
  font-family: @font-family--heading;
  font-size: @font-size--bighead;
  line-height: @line-height--heading;
  letter-spacing: @letter-spacing;
  font-weight: @font-weight;
  text-transform: uppercase;
}

.block-heading{
  float: left;
  margin: 0;
  padding: 0;
  font-family: @font-family--heading;
  font-size: @font-size--h1;
  font-weight: @font-weight;
  color: @heading-color;
  text-transform: uppercase;
  letter-spacing: @letter-spacing;
}

.inner-heading{
  position: relative;
  z-index: 5;
  margin: 0 0 15px 0;
  font-family: @font-family--heading;
  font-size: @font-size--h3;
  line-height: @line-height--heading;
  font-weight: @font-weight;
  letter-spacing: @letter-spacing;
  color: @text-color;
  text-transform: uppercase;

  &--build{
    position: relative;
    z-index: 5;
    margin: 0 0 9px 0;
    font-family: @font-family--heading;
    font-size: @font-size--h3;
    line-height: @line-height--heading;
    font-weight: @font-weight;
    letter-spacing: @letter-spacing;
    color: @text-color;
    text-transform: uppercase;
  }

  &--small{
    position: relative;
    z-index: 5;
    margin: 0 0 10px 0;
    font-family: @font-family;
    font-size: @font-size--h4;
    line-height: @line-height--heading;
    font-weight: @font-weight;
    color: @text-color;
  }

  &--no-margin{
    position: relative;
    z-index: 5;
    margin: 0;
    font-family: @font-family;
    font-size: @font-size--h4;
    line-height: @line-height--heading;
    font-weight: @font-weight;
    color: @text-color;
  }


  &--center{
    position: relative;
    z-index: 5;
    margin: 0;
    font-family: @font-family--heading;
    font-size: @font-size--h1;
    line-height: @line-height--heading;
    font-weight: @font-weight;
    color: @text-color;
    text-transform: uppercase;
    text-align: center;
  }
}

.link{
  display: block;
  margin: 0 0 5px 0;
  font-family: @font-family;
  font-size: @font-size--medium;
  line-height: @line-height;
  font-weight: @font-weight;
  color: @text-shill;

  &:hover{
    color: @text-shill;
    text-decoration: underline;
  }
}

.link--heading{
  display: block;
  margin: 0 0 5px 0;
  font-family: @font-family;
  font-size: @font-size--medium;
  line-height: @line-height--heading;
  font-weight: @font-weight;
  color: @text-shill;

  &:hover{
    color: @text-shill;
    text-decoration: underline;
  }
}

.text-link{
  display: inline;
  margin: 0;
  font-family: @font-family;
  font-size: @font-size--medium;
  line-height: @line-height;
  font-weight: @font-weight;
  color: @text-shill;

  &:hover{
    color: @text-shill;
    border-bottom: 1px solid @pink-link;
  }
}

.inner-text{
  position: relative;
  z-index: 5;
  margin: 0 0 8px 0;
  padding: 0;
  font-family: @font-family;
  font-size: @font-size--medium;
  line-height: @line-height;
  color: @text-color;
}

.inner-phone{
  position: relative;
  z-index: 5;
  margin: 0 0 4px 0;
  padding: 0;
  font-family: @font-family;
  font-size: @font-size--middish;
  line-height: @line-height--heading;
  color: @text-color;
}

.list__heading{
  margin: 0 0 11px 0;
  #text()
}

.valuta{
}

@font-face {
  font-family: "ALSRubl-Arial";
  src: url("../font/alsrubl-arial-regular.eot");
  src: url("../font/alsrubl-arial-regular.eot?#iefix") format("embedded-opentype"),url("../font/alsrubl-arial-regular.woff") format("woff"), url("../font/alsrubl-arial-regular.ttf") format("truetype"), url("../font/alsrubl-arial-regular.svg#ALSRublArialRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.valuta--rub{
  font-family: @rub;
}

@media (max-width: 766px){
  .link--heading{
    font-size: 13px;
  }

  .block-heading{
    font-size: @font-size--h2;
  }

  .inner-heading{
    font-size: @font-size--medium;
  }
}

@media (min-width: 767px) and (max-width: 920px){
  .link--heading{
    font-size: 11px;
  }

  .block-heading{
    font-size: @font-size--h2;
  }

  .inner-heading{
    font-size: @font-size--middish;
  }
}
