@import "../variables.less";
@import "mixins.less";

.block-heading{
  float: left;
  margin: 0;
  padding: 0;
  font-family: @font-family--heading;
  font-size: @font-size--h1;
  font-weight: @font-weight;
  color: @heading-color;
  text-transform: uppercase;
  letter-spacing: @letter-spacing;
}

.inner-heading{
  position: relative;
  z-index: 5;
  margin: 0 0 10px 0;
  font-family: @font-family--heading;
  font-size: @font-size--h3;
  line-height: @line-height--heading;
  font-weight: @font-weight--heading;
  color: @text-color;
  text-transform: uppercase;

  &--small{
    position: relative;
    z-index: 5;
    margin: 0 0 10px 0;
    font-family: @font-family;
    font-size: @font-size--h4;
    line-height: @line-height--heading;
    font-weight: @font-weight;
    color: @text-color;
  }

  &--no-margin{
    position: relative;
    z-index: 5;
    margin: 0;
    font-family: @font-family;
    font-size: @font-size--h4;
    line-height: @line-height--heading;
    font-weight: @font-weight;
    color: @text-color;
  }


  &--center{
    position: relative;
    z-index: 5;
    margin: 0;
    font-family: @font-family--heading;
    font-size: @font-size--h1;
    line-height: @line-height--heading;
    font-weight: @font-weight--heading;
    color: @text-color;
    text-transform: uppercase;
    text-align: center;
  }
}

.link{
  display: block;
  margin: 0 0 5px 0;
  font-family: @font-family;
  font-size: @font-size--medium;
  line-height: @line-height;
  font-weight: @font-weight;
  color: @red;
}

.text-link{
  display: inline-block;
  margin: 0;
  font-family: @font-family;
  font-size: @font-size--medium;
  line-height: @line-height;
  font-weight: @font-weight--heading;
  color: @red;
}

.inner-text{
  position: relative;
  z-index: 5;
  margin: 0 0 10px 0;
  padding: 0;
  font-family: @font-family;
  font-size: @font-size--medium;
  line-height: @line-height;
  color: @text-color;
}

.inner-phone{
  position: relative;
  z-index: 5;
  margin: 0 0 0 0;
  padding: 0;
  font-family: @font-family;
  font-size: @font-size--h6;
  line-height: @line-height--heading;
  color: @text-color;
}

.valuta{
  text-transform: lowercase;
}

.valuta--rub{
  font-family: @rub;
}
