@import "../variables.less";
@import "mixins.less";

.block-header{
  float: left;
  margin: 0;
  padding: 0;
  font-family: @font-family--heading;
  font-size: @font-size--h1;
  font-weight: @font-weight;
  color: @heading-color;
  text-transform: uppercase;
  letter-spacing: @letter-spacing;
}
