@import "../variables.less";
@import "mixins.less";

.urgent{
  float: right;
  padding: 15px 25px;
  width: 240px;
  min-height: 114px;
  background-color: @yellow;
  #round();

  &:hover{
    #box-shadow();
  }

  &:not(:hover){
    #no-shadow();
  }

  &__heading{
    margin: 0;
    font-family: @font-family--heading;
    font-size: @font-size--h3;
    line-height: @line-height--heading;
    font-weight: @font-weight;
    text-transform: uppercase;
    color: @text-color;
  }
}
