@import "../variables.less";
@import "mixins.less";

.urgent{
  float: right;
  padding: 15px 25px;
  width: 240px;
  min-height: 114px;
  background-color: @yellow;
  #round();

  &:after{
    position: absolute;
    content: "";
    top: 65px;
    right: -5px;
    width: 129px;
    height: 48px;
    background-image: url("../img/hand-money.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover{
    #box-shadow();

    &:after{
      transform: translate(-4px, -4px) rotate(.0001deg);
      transition: transform .8s ease;
    }
  }

  &:not(:hover){
    #no-shadow();

    &:after{
      transform: translate(0, 0) rotate(.0001deg);
      transition: transform .8s ease;
    }
  }

  &__heading{
    margin: 0;
    font-family: @font-family--heading;
    font-size: @font-size--h3;
    line-height: @line-height--heading;
    font-weight: @font-weight;
    text-transform: uppercase;
    color: @text-color;
  }
}
@media (min-width: 767px) and (max-width: 920px){
  .urgent{
    display: none;
  }
}
